<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="katas">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>